@font-face {
    font-family: 'iconfont';  /* project id 1070172 */
    src: url('https://at.alicdn.com/t/font_1070172_vnkjhugivz9.eot');
    src: url('https://at.alicdn.com/t/font_1070172_vnkjhugivz9.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_1070172_vnkjhugivz9.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_1070172_vnkjhugivz9.woff') format('woff'),
    url('https://at.alicdn.com/t/font_1070172_vnkjhugivz9.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_1070172_vnkjhugivz9.svg#iconfont') format('svg');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
i{
	padding: 0;
	margin: 0;
	font-style: normal;
}
a{
	text-decoration: none;
}
body{
    background: #F5F5F5; 
    
}
/* 头部广告开始 */
.headguanggao{
    width: 100%;
    height: 80px;
    background: #8a3669;
}
.headguanggao .guangao_box{
    width: 990px;
    height: 100%;
    margin: 0 auto;
}
.headguanggao .guangao_box img{
    width: 100%;
    height: 100%;
    
}
/* 头部广告结束 */
/* 头部按钮开始 */
.top_anniu{
    width: 100%;
    height: 41px;
    background: #550283;    
    /* border-bottom-color: transparent !important; */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
    position: relative;
    z-index: 2;
}
.top_anniu .anniu_box{
    width:1230px;
    height: 32px; 
    background: #550283; 
    margin: auto;
    position: relative;
    left: -15px;
}
.top_anniu .anniu_box .left_bx{
    width: 218px;
    height: 32px;
    /* float: left; */
    color: #fff;
    line-height: 32px;
    font-size: 0;
}
.top_anniu .anniu_box .left_bx span{
    font-size:12px; 
    font-style: normal;
}
.top_anniu .anniu_box .left_bx a{
    font-size:12px; 
    color: #fff;
    font-style: normal;
    padding: 0 10px;
}
.top_anniu .anniu_box .left_bx .big{
    margin-left: 10px;
}
.top_anniu .anniu_box .right_bx{
    width: 523px;
    height: 32px;
    /* float: right; */
    color: #fff;
    line-height: 32px;
    font-size: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.top_anniu .anniu_box .right_bx .bx_word {
    float: left;
    position: relative;
    font-size: 0;
}
.top_anniu .anniu_box .right_bx .bx_word a{
    padding-right: 14px;
    padding-left: 10px;
    line-height: 32px;
    font-size:12px; 
    font-style: normal; 
    color: #fff;
}
.top_anniu .anniu_box .right_bx .bx_word i{
    font-size: 10px;
}
.top_anniu .anniu_box .right_bx .bx_word:hover a{
    color: #c40000;
    text-decoration: underline;
}
.top_anniu .anniu_box .right_bx .bx_word a b{
    position: absolute;
    right: 6px;
    top: 15px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
}
.top_anniu .anniu_box .right_bx .gou{
    padding: 0 10px;
}
.top_anniu .anniu_box .right_bx .gou i{
    font-size: 12px;
}
.top_anniu .anniu_box .right_bx .gou a{
    padding: 0; 
    
}
.top_anniu .anniu_box .right_bx .gou:hover{
    color:  #ffe013;
}
.top_anniu .anniu_box .right_bx .gou:hover  a{
    color:  #ffe013;
    text-decoration: none;
}
.top_anniu .anniu_box .right_bx .shu{
    display: inline-block;
    width: 0;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    position: relative;
    top: 9px;
    left: 0;
    font-size: 0;
    border-left: 1px solid #ccc;
    margin: 0 2px 0 5px;
}
.top_anniu .anniu_box .right_bx .last a{
    padding-left: 4px;
    padding-right: 0;
}
.top_anniu .anniu_box .right_bx .last{
    margin-left: 4px;
}
.top_anniu .anniu_box .right_bx .last:hover{
    color: #c40000;
    
}
.top_anniu .anniu_box .right_bx .last:hover a{
    text-decoration: none;
}
.top_anniu .anniu_box .right_bx .last a b{
    right: -8px;
}
/* 头部按钮结束 */
/* head开始 */
.head .back{
    padding-top: 41px;
    width: 100%;
    text-align: center;

}
.head .back img{
    display: inline-block   ;
    width: 140%
}
.head{
    width: 100%;
    height: 1142px;
    /* background: #4F0279; */
    /* float: left; */
    position: relative;
    background:url(../img/bavkground.png);
    background-repeat: no-repeat;
    background-position: top;
}
.head .head_box{
    /* float: left; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
.back img{
    display: block;
    position: relative;
    z-index: 0;
}
.header{
    width: 100%;
    height: 130px;
    position: relative;

}
.header .header_ex{
    width: 1230px;
    height: 106px;
    margin: auto;
    
}
.header .header_ex .sousuo{
    width: 625px;
    height: 68px;
    float: right;
    margin-right: 302.5px;
    padding-top: 38px;
    overflow: hidden;
}
.header .header_ex .sousuo .sou{
    border: solid white !important;
    border-width: 2px 0 2px 2px !important;
    width: 487px;
    height: 36px;
    padding-left: 4px;
    color: white;
    
    outline: none;
    background: #4F0279;
   
}
.header .header_ex .sousuo .sou::-webkit-input-placeholder{
    color: white;
    font-size: 14px;
    font-weight: 200;
}
.header .header_ex .sousuo span{
    display: block;
    float: right;
    width: 132px;
    height: 40px;
    color: #FF0036;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    background: white;
}
.header .header_ex .sousuo .wenzi{
    width: 625px;
    height: 24px;
    margin-left: -13px;
    padding-top: 4px;
}
.header .header_ex .sousuo .wenzi li{
    display: inline-block;
    border-left: 1px solid #ccc;
    line-height: 1.1;
    padding: 0 12px;
    font-size: 14px;
}
.header .header_ex .sousuo .wenzi li a{
    font-size: 14px;
    color: white;
    font-weight: 200;
}
.header .header_ex .sousuo .wenzi li .orange{
    color: #ffe013;
}
.header .logo{
    width: 290px;
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.header .logo img{
    width: 100%;
    height: 100%;
}
/* head结束 */
/* 轮播开始 */
.head_box .lun{
    width: 100%;
    height: 536px;
    padding-top: 1px;
}
.head_box .lun .li{
    width: 1260px;
    height: 36px;
    margin: auto;
    /* padding-right: 30px; */
}
.head_box .lun .li .li_box_left{
    width: 200px;
    height: 36px;
    float: left;
}
.head_box .lun .li .li_box_left .shop{
    width: 100px;
    height: 36px;
    background: #C60A0A;
    text-align: center;
    font-size: 14px;
    color: white;
    line-height: 36px;
    float: left;
}
.head_box .lun .li .li_box_left .shop:hover{
    background: #E6E2E8;
    color: #FF0036;
}
.head_box .lun .li .li_box_left .nvwang{
    width: 100px;
    height: 36px;
    background: #C60A0A;
    text-align: center;
    font-size: 14px;
    color: #FFE013;
    line-height: 36px;
    float: left;
}
.head_box .lun .li .li_box_left .nvwang:hover{
    background:  #231129;
    color: white;
}
.head_box .lun .li .li_box_right{
    width: 1030px;
    height: 36px;
    box-sizing: border-box;
    border-bottom: 1.5px solid #FF0036;
    float: left;
    background: white;
    line-height: 36px;
}
.head_box .lun .li .li_box_right a{
    height: 35px;
    cursor: pointer;
    float: left;
    padding: 0 8px;
    font-weight: 500;
    font-size: 16px;
    display: block;
    color: #333;
    letter-spacing: normal;
}
.head_box .lun .li .li_box_right a img{
    height: 30px;
    width: 100px;
    padding-top: 3px;
}
.head_box .lun .li .li_box_right a:hover{
    color: #FF0036;
}
.head_box .lun .big_lun{
    width: 1260px;
    height: 500px;
    margin: auto;
    position: relative;
}
.head_box .lun .big_lun .left_li{
    width: 200px;
    height: 471px;
    padding-top: 29px;
    /* float: left; */
    background: #413F3F;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    

}
.head_box .lun .big_lun .left_li .li-bx{
    width: 100%;
    padding: 0 24px;
    margin-bottom: 14px;
    height: 31.2px;
    line-height: 31.2px;
    color: #fff;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
}
.head_box .lun .big_lun .left_li .li-bx a:hover{
    background: #cb0c10;
}
.head_box .lun .big_lun .left_li .li-bx a{
    display: block;
    width: 100%;
    height: 31px;
    border: 1px solid #cb0c10;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    padding-left: 34px;
    padding-right: 10px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.head_box .lun .big_lun .left_li .li-bx a i{
    margin-right: 4px;
    height: 31px;
    display: inline-block;  
    font-size: 14px;
    line-height: 29px;
}
.head_box .lun .big_lun .big_pi{
    width: 1230px;
    height: 500px;
    float: left;
}
.head_box .lun .big_lun .big_pi img{
    width: 100%;
    height: 100%;
}
.head_box .lun .big_lun .dian{
    width: 100%;
    height: 18px;
    /* background: white; */
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 6;
}
.head_box .lun .big_lun .dian li{
    background: #000;
    width: 25px;
    height: 5px;
    display: inline-block;
    overflow: hidden;
    margin-left: 5px;
    cursor: pointer;
    opacity: 0.3;
}
.head_box .lun .big_lun .dian li:hover{
    background: white;
}
.head_box .lun .activity_nvwang{
    width: 100%;
    height: 435px;
}
.head_box .lun .activity_nvwang .activity_box{
    width: 1230px;
    height: 100%;
    padding-right: 30px;
    margin: auto;
    /* background: orange */
}
.head_box .lun .activity_nvwang .activity_box .nvwnag{
    width: 100%;
    height: 105px;
    padding-top: 25px;
    box-sizing: border-box;
}
.head_box .lun .activity_nvwang .activity_box .nvwnag .nvwnag_box{
    width: 300px;
    height: 65px;
    margin: 0 auto;
    overflow: hidden;
}
.head_box .lun .activity_nvwang .activity_box .nvwnag .nvwnag_box img{
    width: 100%;
    height: 100%;
}
.head_box .lun .activity_nvwang .activity_box .avti_left{
    width: 610px;
    height: 330px;
    margin-right: 10px;
    float: left;
    /* background: red; */
    position: relative;
}
.head_box .lun .activity_nvwang .activity_box .avti_left .d{
    color: #ff0e3c;
    background-image: url(../img/nvwang1.png);
    box-shadow: -5px 5px 10px rgba(0,0,0,.2);
    width: 250px;
    height: 330px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}

.head_box .lun .activity_nvwang .activity_box .avti_left .d .name{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 32px;
    height: 36px;
    line-height: 36px;
}   
.head_box .lun .activity_nvwang .activity_box .avti_left .d .price{
    font-size: 18px;
    text-align: center;
    height: 27px;
    line-height: 27px;
}
.head_box .lun .activity_nvwang .activity_box .avti_left .d .back{
    display: block;
    width: 180px;
    height: 180px;
    /* position: absolute; */
    margin: 20px auto;
    padding: 0;

}
.head_box .lun .activity_nvwang .activity_box .avti_left .two{
    color: #8300ff;
    background-image: url(../img/nvwang2.png);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    width: 350px;
    height: 160px;
    margin: 0 0 10px 260px;
}
.head_box .lun .activity_nvwang .activity_box .avti_left .two .name{
    margin-left: 30px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}
.head_box .lun .activity_nvwang .activity_box .avti_left .two .price{
    /* margin-left: 25px; */
    text-align: left;
    margin-left: 30px;
}
.head_box .lun .activity_nvwang .activity_box .avti_left .two .back{
    width: 130px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0;
}
.head_box .lun .activity_nvwang .activity_box .avti_left .three{
    color: #009d66;
    background-image: url(../img/nvwang3.png);
    top: 170px;
}
.head_box .lun .activity_nvwang .activity_box .right{
    margin-right: 0;
}
.head_box .lun .activity_nvwang .activity_box .right .one{
    color: #ff520c;
    background-image: url(../img/nvwang4.png);
}
.head_box .lun .activity_nvwang .activity_box .right .two{
    color: #005aff;
    background-image: url(../img/nvwang5.png);
}
.head_box .lun .activity_nvwang .activity_box .right .three{
    color: #ff6684;
    background-image: url(../img/nvwang6.png);
}
/* 轮播结束 */